<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhou.mybatis.dao.RoleLimitDAO">
	<insert id="addRoleLimit">
		insert into role_limit(role,limited) values(#{arg0},#{arg1})
	</insert>
	<delete id="deleteRoleLimit">
		delete from role_limit where role=#{role}
	</delete>
</mapper>  